.navbar-container {
    background-color: rgb(245 197 24);
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

@media only screen and (max-width: 600px) {
    .navbar-container {
        height: 35px;
    }

}